#jsonSource {
	position: absolute;
	right: 20px;
	background-color: black;
	color: white;
	border: none;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
}

.jsonButton {
	position: absolute;
	background-color: rgb(46, 46, 48);
	width: 26px;
	height: 26px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 5px;
	transition: width 0.1s ease-out 0.2s;
}

.jsonButton:hover {
	width: 120px;
}

.jsonButton p {
	margin: 0;
	margin-left: 4px;
	color: white;
	font-weight: bold;
	opacity: 0.6;
	white-space: nowrap;
	overflow: hidden;
	font-size: 14px;
}

.jsonButton img {
	width: 22px;
	height: 22px;
	margin-left: 2px;
}