#statusContainer {
	position: fixed;
	left: 50%;
	top: 100%;
	transform: translate(-50%, calc(-100% - 40px));
	background-color: rgba(38, 39, 43, 0.757);
	padding: 2px;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);

	transition: opacity 0.3s ease-out step-end;
}

#statusContainer p {
	font-weight: bold;
	text-align: center;
	margin: 0;
	color: rgba(255, 255, 255, 0.8);
}

#statusContainer.fadeOut {
	opacity: 0;
}

#statusContainer.fadeIn {
	opacity: 1;
}