body {
	background-color: #313134;
	font-family: Arial, Helvetica, sans-serif;
}

#mainContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 12px;
	margin-bottom: 12px;
}

table {
	width: 80%;
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	box-shadow: 5px 5px rgba(20, 20, 20, 0.2);
}

h1 {
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 30px;
	color: white;
}

th, td {
	padding: 5px;	
	white-space: nowrap;
}

thead {
	background-color: rgb(39, 39, 39);
	border-bottom: solid 5px rgb(29, 29, 29);
	color: white;
}

tbody {
	background-color: #3a3a3a;
	color: white;
}

tr:nth-child(even) {
	background-color: #424242;
}

/*td {
	padding-left: 5px;
	padding-right: 5px;
}*/

/*.copy {
	display: flex;
	max-width: 250px;
}
*/

/*.copy-link-button {
	border: none;
	background-color: transparent;
	width: 16px;
	padding: 0;
	cursor: pointer;
}
*/

/*span {
	transform: translate(-1px, 2px) scale(1.3);
	font-size: inherit !important;
}
*/

/*.passwordEntry {
	padding-right: 0 !important;
}*/

.passwordText {
	display: inline-block;
	margin: 0;
}