/* Variables */

:root {
	--pallete-dark: rgb(34, 34, 34);
	/* --thead-color: rgb(37, 37, 37);
	--tbody-primary-color: rgb(40, 40, 40);
	--tbody-secondary-color: rgb(46, 46, 46); */
	--thead-color: rgba(20, 20, 20, 0.1);
	--tbody-primary-color: rgba(100, 100, 100, 0.05);
	--background-color: rgb(43, 43, 47);
}

/* Header styles */

#jsonButton {
	float: left;
}

#jsonButton img {
	height: 24px;
	/* padding: 2px 4px;
	border-radius: 8px; */
}

/* header {
	position: absolute;
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	justify-content: space-between;
} */

header {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.headSide {
	width: 20px;
}

/* #changeKey {
	float: right;
	white-space: nowrap;
	color: white;
	background-color: rgb(34, 34, 34);
	border: none;
	height: 30px;
	border-radius: 10px;
	cursor: pointer;
	font-weight: 600;
} */

#logoutButton {
	float: right;
}

#logoutButton img {
	height: 20px;
}

.top_button {
	display: flex;
	background-color: var(--pallete-dark);
	white-space: nowrap;
	align-items: center;
	padding: 6px;
	cursor: pointer;
	border-radius: 8px;
	gap: 5px;
	height: 20px;
	margin: 10px;
	margin-bottom: 0;
	font-size: 15px;
}

/* Main styles */

body {
	background-color: var(--background-color);
	margin: 0;
}

* {
	font-family: "Montserrat", Arial, sans-serif;
	color: white;
}

main {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 10px;
}

#container {
	width: calc(100% - 20px);
	max-width: 1400px;
}

#dataTableContainer {
	width: 100%;
	overflow-x: auto;
}

h1 {
	text-align: center;
	/* color: #cfcfcf; */
	font-size: x-large;
	width: fit-content;
}

#buttons {
	margin-bottom: 8px;
	display: flex; /* Removes middle selectable text */
	justify-content: space-between;
}

#buttons button {
	background: rgb(30, 30, 30);
	border: none;
	width: 100px;
	height: 26px;
	font-size: 14px;
	border-radius: 8px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.search-input {
	background-color: rgb(30, 30, 30);
	border: none;
	outline: none;
	border-radius: 8px;
	padding: 6px;
	max-width: 180px;
	font-size: 14px;
}

/* Table Style */

#status {
	background: var(--tbody-primary-color);
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center !important;
}

table {
	border-color: white;
	border-radius: 10px;
	/* border-collapse: collapse; */
	width: 100%;
	background-color: rgba(35, 35, 35, 0.9);
}

th, td, #status {
	padding: 8px;
	text-align: left;
	white-space: nowrap;
	/* border: 1px solid rgb(40, 40, 40); */
}

td {
	white-space: nowrap;
}

thead tr {
	background-color: var(--thead-color);
}

tbody tr {
	background-color: var(--tbody-primary-color);
}

.password {
	font-weight: bold;
	letter-spacing: 2px;
	user-select: none;
}

.special-cell {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 !important;
}

.special-cell span {
	padding: 8px;
}

.special-cell div {
	padding-right: 8px;
}

.symbol-btn {
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

/* tbody tr:nth-child(even) {
	background-color: rgb(40, 40, 40);
} */

/* Table sides radius */

thead tr th:first-child {
	border-top-left-radius: 10px;
}

thead tr th:last-child {
	border-top-right-radius: 10px;
}

tbody tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}

/* Fix Width */


/* 370px before */

@media (max-width: 360px) { 
	h1 {
		margin-top: 35px;
	}
}

@media (max-width: 630px) {
	.top_button span {
		display: none;
	}
}